<h1>
  Product #<%= @product.id %> details
</h1>

<div>
  <div>
    <a href="/products">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_product_form/<%= @product.id %>">
      Edit product
    </a>
  </div>

  <div>
    <a href="/delete_product/<%= @product.id %>">
      Delete product
    </a>
  </div>
</div>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @product.name %>
  </dd>

  <dt>
    Category
  </dt>
  <dd>
    <%= @product.category_id %>
  </dd>

  <dt>
    Average price
  </dt>
  <dd>
    <%= @product.average_price %>
  </dd>

  <dt>
    Product image
  </dt>
  <dd>
    <%= @product.product_image %>
  </dd>

  <dt>
    Purchase link
  </dt>
  <dd>
    <%= @product.purchase_link %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@product.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@product.updated_at) %> ago
  </dd>
</dl>

