<h1>
  Edit product concern #<%= @product_concern.id %>
</h1>

<hr>

<%= render("product_concern_templates/validation_failures.html.erb") %>

<form action="/update_product_concern_record/<%= @product_concern.id %>" method="post">
  <div>
    <label for="concern_id">
      Concern
    </label>

    <input type="text" id="concern_id" name="concern_id" value="<%= @product_concern.concern_id %>">
  </div>

  <div>
    <label for="product_id">
      Product
    </label>

    <input type="text" id="product_id" name="product_id" value="<%= @product_concern.product_id %>">
  </div>

  <div>
    <input id="good_for" name="good_for" type="checkbox" value="1" <%= "checked" if @product_concern.good_for %>>
    <label for="good_for">
      Good for
    </label>
  </div>

  <button>
    Update product concern
  </button>
</form>

<hr>

<a href="/product_concerns">
  Go back
</a>
